body{
    font-family: "Roboto", Arial, sans-serif;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
}

div, input, textarea {
    box-sizing: border-box;
}

.text-center {
    text-align: center;
}

.dflex {
    display: flex;
}

.container{
    width: 1050px;
    margin: 0 auto;
}
header{
    background: #4b73b5;
    color: white;
}
.header__container {
    position: relative;
    height: 76px;
    margin-bottom: 25px;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: block;
    
}

.company-contacts {
    text-align: right;
}
.company-contacts-phone{
    font-size: 21px;
    text-decoration: none;
    font-weight: bold;
    color: inherit;

} 

.dropdown__link{
    font-size: 14px;    
    font-weight: bold;
    opacity: 0.7;
    text-decoration:underline;
    color: inherit;
    
    
}

.dropdown{
    position: relative;
    cursor: pointer;
}

.dropdown:hover .dropdown__menu{
    display: block;
}
.dropdown:hover .dropdown__link{
    color: #c9d5e9;
}

.dropdown__menu{
    position: absolute;
    max-width: 163px;
    top: 100%;
    right: 0;
    padding-top: 12px;
    display: none;
}

.dropdown__menu_card {
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 3px 4px 1px rgba(0, 0, 0, 0.1);
    position: relative;
}

.dropdown__menu_card:before {
    content: ' ';
    border: 9px solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    bottom: 100%;
    right: 0;
}

.dropdown__menu:before{
    content: "";
    display: block;
    height: 30px;
    left: 0;
    top: -20px;
    position: absolute;
    right: 0;
}

.dropdown__list-text-blue{
    font-size:14px;
    font-weight: 400;
    color: #4b73b5;   
    
}
.dropdown__list-text{
    font-size:14px;
    font-weight: 300;
    color: #221f1f;  
}

.dropdown__list{
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
}
.page-content{
    flex: 1;
}

.sidebar {
    padding-right: 25px;
    flex: 0 0 25%;
}

img{
    max-width: 100%;
    max-height: 100%;
}


.nav__link{
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    letter-spacing: 2.1px;
    font-size: 12px;
    font-weight: bold;
    color: #4b73b5;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.nav__icon:before{
    content: ' ';
    width: 24px;
    height: 18px;
    background: center center no-repeat;
    margin-right: 12px;
    display: inline-block;
    vertical-align: top;
}

.nav__icon--main:before{
    background-image: url('./img/sidebar/main_icon2.png');
}
.nav__icon--feed:before{
    background-image: url('./img/sidebar/feed_icon.png')
}
.nav__icon--team:before{
    background-image: url('./img/sidebar/team_icon.png')
}

.nav__link:hover.nav__icon--main:before, .nav__item--active .nav__icon--main:before{
    background-image: url('./img/sidebar/main_icon.png')
}
.nav__link:hover.nav__icon--feed:before, .nav__item--active .nav__icon--feed:before{
    background-image: url('./img/sidebar/feed_icon2.png')
}
.nav__link:hover.nav__icon--team:before, .nav__item--active .nav__icon--team:before{
    background-image: url('./img/sidebar/team_icon2.png')
}

.nav__item {
    margin-bottom: 30px;
    line-height: 20px;
    margin-right: 80px;
}

.nav__item:last-child {
    margin-bottom: 0;
    margin-right: 0;
}

.nav__item--active .nav__icon--main:before{
    background-image: url('./img/sidebar/main_icon.png');

}

.nav__item--active .nav__link{
    color:#221f1f;
}


.nav__link:hover {
    color:#221f1f;
}

.nav{
    list-style: none;
    padding: 0;
    margin: 0;
    flex-direction: row;
}

.clearfix {
    display: block;
    clear: both;
}

.prices__block {
    list-style: none;    
    margin-bottom: 30px;
}



.prices__block-text{
    padding: 40px 10px 0 10px;
    text-align: center;
    box-sizing: border-box;
}

.prices__block-text:last-child{
    margin-right: 0;
}


.prices__block-border{
    border: 1px solid ;
    border-radius: 5px;
    border-color: #e8e9ed
}




.price__icon-circle {
    width: 72px;
    height: 72px;
    background: #4b73b5;
    display: inline-block;
    border-radius: 72px;
    text-align: center;
    line-height: 89px;
}
.prices__base-name {
    font-size: 49px;
    font-weight: bold;
    margin-bottom: 36px;
    margin-top: 0px;
}

.price__heading-text{
    font-size: 10.78px; 
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2.3px;
    text-align: center;
}
.prices__block-text{
    font-size: 18px; 
    font-weight: bold;
    text-transform: uppercase;    
    text-align: center;
    padding: 0;
}

.block__desc{
    text-align: left;
    list-style-type: disc;
    
}
.block__desc li {
    padding-left: 10px;
    margin-bottom: 10px;
}
.price__description{
    font-weight: 300;
    font-size: 18px;
    text-align: center;
}

.block__title{
    line-height: 32px;
    margin-bottom: 10px;
    text-align: left;
    padding-left: 19px;
}

.price-text{
    font-weight: 400;
    font-size: 53.89px;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.price-text small {
    font-size: 65%;
}

.comments, .news{
    margin-bottom: 57px;
}

.news__list, .comments__list{
    list-style: none;
    margin: 0;
    padding: 0;
    
}

.news__list{
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0px;
}
.news__avatar, .comments__avatar{
    margin-right: 17px;
    flex: 0 0 160px;
    
}

.news__avatar{
margin-bottom: 40PX;
}

.clearfix-append:after {
    content: ' ';
    display: block;
    clear: both;
}

.news__title {
    margin-bottom: 33px;
    font-size: 49px;
    font-weight: bold;
    margin-top: 0;
}

.comments__title{
    font-size: 49px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 40px;
}

.news__item{
    flex: 0 0 31%;
    flex-direction: column;
    align-items: center;   
    box-sizing: border-box;
    margin-bottom: 35px;
    margin-right: 25px;
}

.comments__item{
    margin-bottom: 58px;
}

.news__item:last-child{
    margin-bottom: 0;
    margin-right: 0;
}
.comments__item:last-child{
    margin-bottom: 0;
}

.news__date, .comments__date{
    font-size: 14px;
    font-weight: 300;
    color: #656464;
}

.news__heading, .comments__heading{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 12px;
}

.team__name{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 0px;
}

.news__desc-text {
    font-size: 15px;
    font-weight: 300;
   
}

.comments__desc-text{
    font-size: 16px;
    font-weight: 300;
}



.pagination{
    text-align: center;
    vertical-align: middle;
    margin-bottom: 60px;
}

.pagination__display, .pagination__controlls {
    display: inline-block;
}

.pagination__display {
    margin-right: 25px;
    font-size: 14px;
    font-weight: 300;
    color: #656464;
}

.pagination__pages {
    display: inline-block;
    padding: 0;
    margin: 0;
    list-style: none;
}

.pagination__pages-item {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
}

.pagination__link {
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 3px;
    text-align: center;
    line-height: 25px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.pagination__link:hover{
    color:#1c5bc3;
}

.pagination__link.active {
    background-color:#4b73b5;
    color: white;
}

.pagination__prev, .pagination__next {
    text-decoration: none;
}
.pagination__prev{
    color: #bebdbd;
    
}
.pagination__next {
    color: #242121;
}
  


.footer__container {
    position: relative;
    height: 76px;
    justify-content: space-between;
    align-items: center;
    
    }

.footer {
    background: #4b73b5;
    color: white;
    
}

.footer__logo { 
   margin-left: -60px;
}

.company-text{
    font-size: 14px;
    font-weight: 300;
    display: inline-block;
    
}

.social__icon{
    text-decoration: none;
    vertical-align: middle;
    list-style: none;
    margin: 0;
    padding: 0;
    
}

.social__icon li {
    margin-right: 10px;
    width:20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    text-align: center; 
}
.social__icon li:last-child{
    margin-right: 0px;
}

.social__icon li:hover {    
    background-color: #d2def3;
}

.social__text{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}
.social{
    display: inline-block;
}


.form{
    background: #f5f5f5;
    padding: 30px 69px 50px 69px;
    width: 700px;
    margin: 0 auto;    
    margin-bottom: 50px;
    box-sizing: border-box;
}

.form__title{
    font-size: 49px;
    font-weight: bold;
    margin-bottom: 20px;
    
}

.form__row{
    margin-bottom: 15px;
    display: flex;
}

.form__block{
    margin-right: 23px;
    flex: 1px;
    

}
.form__block:last-child{
    margin-right: 0;

    }
.form__block-title, .form__check-title{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
}   

.form-field{
    width: 100%;
    background: white;
    border: 1px solid transparent;
    font-size: 14px;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
}

.form-field:focus {
    border-color: #4b73b5;
}

.form__field::placeholder{
    color: #ccc;
}

.form__textarea{
    resize: vertical;
}

.form__radio-button{
    cursor: pointer;
    font-size: 14px;    
    margin-right: 15px;
}

.radio__styled {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #cecece;    
    margin-right: 10px;
    padding: 5px;
    vertical-align: middle;
}

.radio__styled:before {
    content: ' ';
    display: block;
    height: 100%;
    border-radius: 50%;
}

.form__radio-button input:checked + .radio__styled {
    border-color: #4b73b5;
}

.form__radio-button input:checked + .radio__styled:before {
    background-color: #4b73b5;
}

.form__radio-button input {
    display: none;
}


.form__button-text{
  color: white;
  text-decoration: none;   
  background: #4b73b5;
  padding: 15px 17px;
  border-radius: 3px;
  display: inline-block;
  outline: none;
  border: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2px;
  cursor: pointer;
} 
.form__button-text:hover{
    background:white;
    color:  #4b73b5;
    
}
button:after {
    content: ' ';
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url(./img/Vector\ Smart\ Object.png);
    margin-left: 10px;
    vertical-align: text-bottom;
}

button:hover:after {
    background-image: url(./img/Vector\ Smart\ Object2.png);
}

.form__footer {
    justify-content: space-between;
}
 

.breadcrumbs {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 25px;
    margin-bottom: 10px;
}
.breadcrumbs__item,
.breadcrumbs__link {
  display: inline-block;
  vertical-align: middle;
}

.breadcrumbs__item:after {
  content: "/";
  display: inline-block;
  vertical-align: middle;
}

.breadcrumbs__item:last-child:after {
  display: none;
}

.breadcrumbs__link {
  font-style: italic;
  font-size: 14px;
  opacity: .8;
  color:#497ccf(178, 73, 48, 0.8);
}
.breadcrumbs__link:visited{
    color:#497ccf
}


.breadcrumbs__item--active .breadcrumbs__link {
  color: #000;
  text-decoration: none;
}

.container__small{    
    margin: 0 auto;
    font-size: 16px;
    color: #ffffff;
    font-weight:300;
    text-align: center;
    line-height: 30px;
}
.line{
    background-image: url(./img/line.png);
    padding: 25px 10px;
    margin-bottom: 30px;
    background-repeat: repeat-y;
}

.team__item{
    flex: 0 0 30%;
    flex-direction: column;
    align-items: center;   
    box-sizing: border-box;
    margin-bottom: 35px;
    margin-right: 28px;

}


.team__item:nth-child(3n){
    margin-right: 0px;
}

.team__avatar{
    overflow: hidden;
    width: 160px;
    position: relative;
    border-radius: 50%;
    line-height: 0;
    margin-bottom: 16px;
   
}

.team__avatar:before {
    content: " ";
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(75,115,181,0.5);
    border: 3px solid #577cba;
    box-sizing: border-box;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.5s ease;
}

.team__avatar:hover:before {
    opacity: 1;
}

.team__avatar span {
    display: none;
    color: white;
    font-weight: 500;
    font-size: 24px;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    line-height: 160px;
    text-align: center;
}

.team__avatar:hover span {
    display: inline;
}

.team__desc{
    text-align: center;
    
}


.team__list{
    text-decoration: none;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0px;
}

.team__title {
    font-size: 49px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 40px;
  
}

.partners__text{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 33px;

}
.team__text{
    font-size: 14px;
    font-weight: 300;
    margin-top: 0px;
    
}
.team__occ{
    color: #4b73b5;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 9px;
    
}
.partners__border{
    border: 1px solid ;
    border-radius: 5px;
    border-color: #e8e9ed
}

.partners{
    margin-bottom: 30px;
}

.partners__icon{    
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    
}
.partners__icon-pic{
    margin-bottom: 45px;
    transition: filter 0.3s ease;
    filter: grayscale(100%);
}


.partners__icon-pic:hover{
    filter: none;
}

.partners__icon-pic img {
    zoom: 0.9;
}

.social__link {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(./img/social/social.png);
    background-repeat: no-repeat;
}

.social__link-vk {
    background-position-x: -40px;
}

.social__link-fb {
    background-position-x: -60px;
}

.social__link-google {
    background-position-x: -80px;
}

.social__link-tw {
    background-position-x: -20px;
}

.welcome{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: url(./img/intro.png) center center / cover no-repeat;
}

.welcome__center-block{
    flex-direction: column;
}

.welcome__logo{
    margin-bottom: 35px;
    text-align: center;
}

.welcome__enter-btn{
    display: block;
    border: 1px solid #1c5bc3;
    color: #1c5bc3;
    text-decoration: none;
    padding: 18px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: 700;
    cursor: pointer;
    
}

.welcome__enter-btn:after{
    content: ' ';
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url(./img/Vector\ Smart\ Object2.png);
    margin-left: 19px;
    vertical-align: text-bottom;
}

.welcome__enter-btn:hover{
    background-color: #1c5bc3;
    color: white;
}

.welcome__enter-btn:hover:after{
    background-image: url(./img/Vector\ Smart\ Object.png);
}
